.App {
  text-align: center;

}

.result {
  height: 60px;
  color:rgb(210, 230, 32);
  background-color: rgb(94, 15, 240);
  width: 100%;

}

.calc-body {
  max-width: 400px;
  margin: auto;

}

.result p {
  font-size: 40px;
}

.buttons {
  display: block;
  
}

.buttons button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(224, 156, 9);
}

.text {
  color:red;
  border-radius: 23%;
}

